.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.dialogsItems {
    padding: 10px;
    color: aliceblue;

}

.dialogsItems .active {
    color: gold;
}

.dialog {
color: aliceblue;
}

.messages {
    padding: 10px;

}

.messages .message {
color: aliceblue;
}
